<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'news/css/my_style.css' %}" rel="stylesheet">
    <link href="{% static 'news/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    
    <h1>Index page</h1>

    {% for item in items %}

        <p>{{item.title}}</p>
        <p>{{item.content}}</p>
        <p>{{item.created_at |date:"d-m-Y H:i"}}</p>



    {% endfor %}


    <script src="{% static 'news/js/jquery.min.js' %}"></script>
    <script src="{% static 'news/js/bootstrap.min.js' %}"></script>
</body>
</html>